<!DOCTYPE html>
<html>
<body>

<h1>BIEN 470D Bioengineering Design Project </h1>

<p>EzyProtein: A SOFTWARE TOOL FOR MULTI-SCALE DATA INTEGRATION AND VISUALIZATION OF THE HUMAN INTERACTOME </p>

<p>Supervisors:</p>
<p>Yu (Brandon) Xia, Professor, Department of Bioengineering McGill University</p>
<p>Mohamed Ghadie, PhD Candidate, Department of Bioengineering McGill University</p>

<p>Team Members:</p>
<p>Jiachi Ou</p>
<p>Serra Ozdas</p>
<p>William Pang</p>
<p>Jing Ming Yuan</p>


</body>
</html>